## 1 Numeric Variables (int, float, complex)

In [3]:
# integer 
a=10
print(type(a))  # output : <class 'int'>

# float 
b = 10.5
print(type(b)) # output : <class 'float'>

# Complex Number
c = 3 + 4j
print(type(c))  # output : <class 'complex'>

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. Boolean Variables

In [6]:
is_active = True
is_passed = False
print(type(is_active)) # output: <class 'bool'>

<class 'bool'>

#### Usage in Data Science: Used in conditions, filtering datasets, and decision-making in ML models.

### 3. String Variables

In [10]:
name = "Rahul More"
print(type(name))  # output : <class 'str'>
print(name.upper()) # convert to upper case

# Usage in Data Science: Used in text processing (NLP), data cleaning,
# and visualization.

<class 'str'>
RAHUL MORE

## 4. List Variables

In [15]:
numbers = [10,20,30,40]
print(numbers[1]) # output: 20
numbers.append(50)
print(numbers) # output : [10,20,30,40,50]

""" Usage in Data Science: Used for handling collections of data before converting to NumPy/Pandas. """

20
[10, 20, 30, 40, 50]

' Usage in Data Science: Used for handling collections of data before converting to NumPy/Pandas. '

## 5. Tuple variables

In [18]:
coordinates = (10.5, 20.3)
print(type(coordinates)) # output: <class 'tuple'>

""" Usage in Data Science: Used for fixed data structures, like latitude-longitude pairs. """

<class 'tuple'>

## 6. Set variables

In [23]:
unique_values = {1,2,3,4,4,2}
print(unique_values) # output : {1,2,3,4}
"""  Usage in Data Science: Removes duplicates from datasets. """

{1, 2, 3, 4}

'  Usage in Data Science: Removes duplicates from datasets. '

## 7. Dictionary Variables

In [28]:
person = {"name":"Rahul","age": 26,"city":"Pune"}
print(person["name"]) # output: Rahul
""" Usage in Data Science: Used for mapping key-value pairs, JSON data processing. """

Rahul

' Usage in Data Science: Used for mapping key-value pairs, JSON data processing. '

## 8. Numpy Arrays (for numerical computing)

In [33]:
import numpy as np

arr = np.array([1,2,3,4])
print(arr*2) # output [2,4,6,8]
""" NOTE: Usage in Data Science: Faster than lists, used in linear algebra, statistics, and ML.

  """

[2 4 6 8]

' NOTE: Usage in Data Science: Faster than lists, used in linear algebra, statistics, and ML.\n\n  '

## 9. Pandas

In [38]:
import pandas as pd

data = {"Name":["RAHUL","AMIT"],"Age":[26,25]}
df = pd.DataFrame(data)
print(df)
""" NOTE:Usage in Data Science: Used for data manipulation, cleaning, and analysis. """

    Name  Age
0  RAHUL   26
1   AMIT   25

' NOTE:Usage in Data Science: Used for data manipulation, cleaning, and analysis. '