### Pandas is a powerful python library for data manipulation and analysis. It provides data structures like Series(1D) and DataFrame (2D) along with a wide range of fucntions for cleaning, transforming and analyzing data.

#### 1. Pandas Data Structures 
##### 1.1 Series (1D Data)
##### A series is one-dimensional labeled array.

In [3]:
import pandas as pd

data = [10,20,30,40]
series =pd.Series(data, index =['a','b','c','d'])
print(series)

a    10
b    20
c    30
d    40
dtype: int64

### 1.2 DataFrame (2D Data)
#### A DataFrame is a 2D table with rows and columns (like an Excel sheet)

In [33]:
def dataFrame():
    data = {
        'Name': ['Alice','Bob','Charlie'],
        'Age':[25,30,35],
        'City': ['New York','London','Paris']
    }
    df=pd.DataFrame(data)
    print(df)


    data = {
        'Name': ['Alice','Bob','Charlie'],
        'Age':[25,30,35],
        'City': ['New York','London','Paris']
    }
    df=pd.DataFrame(data)

In [8]:
dataFrame()

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [12]:
## 2 Reading & Writing Data 
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [14]:
## Writing Data 
# CSV : df.to_scv()
# Excel : df.to_excel()
# JSON : df.to_json()

In [16]:
df.to_csv('output.csv', index = False)
df.to_excel('output.xlsx', index = False)

NameError: name 'df' is not defined

In [19]:
df.head(5)
df.tail(3)
print(df.shape)
df.info()
df.describe()
print(df.columns)
print(df.dtypes)

NameError: name 'df' is not defined

In [21]:
## 4 Data selection & Filtering
# 4.1 Selecting Columns

ages = df['Age']
subset = df[['Name','City']]

NameError: name 'df' is not defined

In [ ]:
## 4.2 Selecting Rows
# by index
row = df.iloc[0]
#by label
row = df.loc[0]
#slicing
subset = df[1:3]

In [23]:
# 4.3 Conditional Filtering
filtered = df[df['Age']>30]

# multiple conditions
filtered = df[(df['Age']>25) & (df['City'] == 'London')]

NameError: name 'df' is not defined

In [27]:
## 5 Data Cleaning & Manipulation 
### 5.1 Handling Missing Data
### 5.2 Renaming Columns 
df.rename(columns=['OldName':'NewName'], inplace=True)

SyntaxError: invalid syntax (3553500817.py, line 4)

In [29]:
# 5.3 Dropping Columns/Rows
df.drop('City', axis=1, inplace=True)
df.drop(0,axis=0, inplace = True)

NameError: name 'df' is not defined

In [35]:
# 5.4 Adding New COlumns 
df['Salary'] = [50000, 60000, 70000]

NameError: name 'df' is not defined

In [37]:
# 5.5 Applying Functions to Columns 
# Apply a function to a column
df['Age'] = df['Age'].apply(lambda x: x + 1)  # Increment all ages by 1

NameError: name 'df' is not defined

In [39]:
# 6 Grouping & Aggregation 
## 6.1 groupby()
grouped = df.groupby('City')['Age'].mean()

NameError: name 'df' is not defined

In [ ]:
# 6.2 Aggregation Functions
result = df.groupby('City').agg({
    'Age': ['mean', 'max', 'min'],
    'Salary': 'sum'
})

In [41]:
# 7 Merging & Joining DataFrames
## 7.1 concat() (Stacking DataFrames)

df1 = pd.DataFrame({'A':[1,2],'B':[3,4]})
df2 = pd.DataFrame({'A':[5,6],'B':[7,8]})

combines = pd.concat([df1, df2])

In [43]:
# 7.2 merge() (SQL- like Joins)

df1 = pd.DataFrame({'ID':[1,2],'Name':['Alice','Bob']})
df2 = pd.DataFrame({'ID':[1,3],'Salary':[5000,6000]})

merged = pd.merge(df1,df2, on='ID')

merged = pd.merge(df1, df2, on='ID', how='left')

In [45]:
# 8 Pivot Tables & Reshaping Data 
# 8.1 pivot_table()

pivot = df.pivot_table(index='City', columns = 'Name', values='Age', aggfunc='mean')

NameError: name 'df' is not defined

In [47]:
# 8.2 melt() (Unpivot Data)
melted = pd.melt(df, id_vars=['Name'], value_vars=['Age', 'Salary'])

NameError: name 'df' is not defined

In [49]:
# 9 Time Series Handling 
# 9.1 Converting to DataTime
df['Date'] = pd.to_datetime(df['Date'])

NameError: name 'df' is not defined

In [51]:
# 9.2 Resammpling Time Series Data 

df.set_index('Date',inplace=True)
monthly = df.resample('M').mean()

NameError: name 'df' is not defined

In [53]:
# 10 Exporting Data

df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index = False)
df.to_json('output.json')

NameError: name 'df' is not defined

In [55]:
''' Conclusion
Pandas is essential for data manipulation in Python. Key takeaways:

DataFrames are the core structure for tabular data.

Filtering, grouping, merging are crucial for analysis.

Handling missing data ensures clean datasets.

Pivot tables & reshaping help in advanced analysis. '''

' Conclusion\nPandas is essential for data manipulation in Python. Key takeaways:\n\nDataFrames are the core structure for tabular data.\n\nFiltering, grouping, merging are crucial for analysis.\n\nHandling missing data ensures clean datasets.\n\nPivot tables & reshaping help in advanced analysis. '